body {
  background-color: rgb(146, 146, 146);
}

.grid {
  position: absolute;

  width: 780px;
  height: 600px;
  border: solid rgb(251, 255, 0) 3px;
  margin-top: 100px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(240, 76, 0);
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(71, 207, 17);
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: rgb(166, 255, 0);
}
